{% extends "base.html" %}
{% block content %}
<h1>Hello</h1>
<form method="POST">
{{data}}
    {% for booking in data %}
        <h3>Room: {{ booking.key }}</h3>
        <input type="hidden" name="room" value="{{ booking.key }}">
        <h3>Time: {{ booking.value }}</h3>
        <input type="hidden" name="time" value="{{ booking.value }}">
        <h3>Date: {{ booking.specific_date }}</h3>
        <input type="hidden" name="date" value="{{ booking.specific_date }}">
    {% endfor %}
    <input type="text" name="name" placeholder="Enter your name">
    <input type="text" name="email" placeholder="Enter your email">
    <button type="submit">Complete Booking</button> 
</form>
<!-- {% for key, values in cart.items %}
    <thead>
        <tr>
            <th>{{key}}</th>
        </tr>
    </thead>
    <tbody>
        {% for value in values %}
            <tr>{{value}}</tr>
    </tbody>
        {% endfor %}
{% endfor %} -->
{% endblock%}