{% extends "base.html" %}
{% block content %}
<!-- <div class="d-flex flex-row">
{% for result in results %}
        <div class="flex-grow-1">
             <h1>{{ result}}</h1>
        </div>
{% endfor %}
</div> -->
{% for result in results %}
    


<ul>
    {% for key, values in result.items %}
      <h1>{{ key }}</h1>
      <ul>
        {% for value in values %}
          <li id="iterate-{{ forloop.counter }}">{{ value }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>

  {% endfor %}
  

  <script>
    // Get all list items using a CSS selector
    var items = document.querySelectorAll("li");
  
    // Loop through each list item
    items.forEach(function(value) {
      // Check if the inner HTML of the item is "501"
      if (value.innerHTML === "501") {
        // If it is, change the inner HTML to "888"
        value.innerHTML = "Available";
      } else if (value.innerHTML === "45") {
        value.innerHTML = "Unavailable"
      }
    });
  </script>  
{% endblock %}
