{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-row">
    {% for result in results %}
        <div class="flex-grow-1">
                <table>
                    <thead>
                        {% for key, values in result.items %}
                            <tr>
                                <th>{{key}}</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for value in values %}
                            <tr>
                                <td id="iterate-{{ forloop.counter }}">
                                  <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="form1">
                                    <input type="hidden" name="key" value="{{ key }}">
                                    <input type="hidden" name="value" value="{{ value }}">
                                    <input type="hidden" name="selected_date" value="{{ selected_date }}">
                                    <input type="hidden" name="choices" value="{{ choices }}">
                                    <button type="submit"  class="my-button btn btn-primary text-white" data-key="{{ key }}" data-value="{{ value }}">{{ value }}</button>
                                  </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    {% endfor %} 
  </div>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="var1" value="Hello">
    <input type="hidden" name="var2" value="World">
    <button type="submit">Hello</button>
  </form>
  <script>
    // Get all list items using a CSS selector
    var items = document.querySelectorAll(".my-button");
  
    // Loop through each list item
    items.forEach(function(value) {
      let counter = 0;
      // Check if the inner HTML of the item is "501"
      if (value.innerHTML != "45") {
        // If it is, change the inner HTML to "888"
        value.innerHTML = "Available";
        
      } else if (value.innerHTML === "45") {
        value.innerHTML = "Unavailable"
        value.disabled = true
      }
    });
    </script>
{% endblock %}